.big_button{
    background: $purple;
    border: none;
    border-bottom: .6rem solid darken($color: $purple, $amount: 10%);
    color: #fff;
    font-weight: bold;
    font-size: $l-size;
    margin-bottom: $m-size;
    padding: 2.4rem;
    width: 100%;
}

.big_button:disabled{
    opacity: .6;
}

.button{
    background: $purple;
    border: none;
    border-bottom: .3rem solid darken($color: $purple, $amount: 10%);
    color: #fff;
    font-weight: 500;
    padding: $s-size;
}

.button--link{
    background: none;
    border: none;
    color: $off-white;
    font-weight: 500;
    padding: 0;
}

@media(min-width: $desktop-breakpoint){
    .big_button{
        margin-bottom: $xl-size;
    }
}