.header{
    background: $off-black;
    color: #fff;
    margin-bottom: $m-size;
    padding: $m-size 0;
}

.header_title{
    font-size: $l-size;
    margin: 0;
}

.header_subtitle{
    color: $off-white;
    font-size: $m-size;
    font-weight: 500;
    margin: 0;
}

@media(min-width: $desktop-breakpoint){
    .header{
        margin-bottom: $xl-size;
    }
}