// styles for widget header

.widget{
    background: $light-blue;
    margin-bottom: $xl-size;

    .message{
        border-bottom: 1px solid lighten($color: $light-blue, $amount: 10%);
        color: $off-white;
        margin: 0;
        padding: $l-size;
        text-align: center;
    }
}

.widget-header{
    background: $blue;
    color: $off-white;
    display: flex;
    justify-content: space-between;
    padding: $m-size; 
}

.widget-header__title{
    margin: 0;
}
