//colors
$blue : #3c4251;
$dark-blue : #333745;
$light-blue : #464b5b;
$off-black : #20222b;
$off-white : #a5afd7;
$purple : #8357c5;


//spacings 
$s-size : 1.2rem;
$m-size : 1.6rem;
$l-size : 3.2rem;
$xl-size : 4.8rem;
$desktop-breakpoint: 35rem;

